<template>
    <button @click="click" :class="buttonClass">
        <slot/>
    </button>
</template>

<script>
    export default {
        name: "Button",
        props: {
            buttonClass: String
        },
        methods: {
            click() {
                this.$emit('clickEvent');
            }
        }
    }
</script>

<style scoped lang="scss">
    .button-item {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        outline: none;
        font-size: 35px;
        cursor: pointer;
        display: inline-block;
        padding: 0.5em 0;
        width: 200px;
        text-decoration: none;
        color: #fff;
        border-radius: 4px;
        margin: 10px 20px;
        background-color: #00A7C9;
        border-bottom: solid 5px #02829c;
        font-weight: bolder;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            -webkit-transform: translateY(4px);
            transform: translateY(4px); /*下に動く*/
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
            border-bottom: none;
        }
    }

    .button-item__true {
        @extend .button-item;
        background-color: #00A7C9;
        border-bottom: solid 5px #02829c;
        padding: 1em 0;
    }

    .button-item__false {
        @extend .button-item;
        color: #02829c;
        background-color: #fff;
        border-bottom: solid 5px #ccc;
        padding: 1em 0;
    }

    .button-item__previous {
        @extend .button-item;
        padding: 0.5rem 0;
    }

    .button-item__next {
        @extend .button-item;
        padding: 0.5rem 0;
    }
</style>
