<template>
    <div class="explanation">
        <h1 class="explanation__title">解説</h1>
        <p class="explanation__text">{{ explanation }}</p>
    </div>
</template>

<script>
    export default {
        name: 'Explanation',
        props: {
            explanation: String
        }
    }
</script>

<style scoped lang="scss">
    p {
        text-align: left;
        padding:15px;
    }

    .explanation {
        color: #02829c;
        border: 3px dotted #00A7C9;
        background-color: #fff;
        border-radius: 6px;
    }
</style>
