<template>
    <div class="question">
        <h2 class="question__index">Question.{{ questionIndex.toString() }}</h2>
        <h3 class="question__text">{{ questionText }}</h3>
    </div>
</template>

<script>
    export default {
        name: 'Result',
        props: {
            questionIndex: Number,
            questionText: String
        }
    }
</script>

<style scoped lang="scss">

    h3 {
        text-align: left;
        padding:15px;
    }
    .question {
        background-color: #02829c;
        border: 3px dotted #fff;
        border-radius: 6px;

        &__index {
            color: #fff;
            font-size: 50px;
        }

        &__text {
            color: #fff;
            font-size: 30px;
        }
    }
</style>
