<template>
  <div class="result-box">
    <h2 class="result-box__text">{{ result }}</h2>
  </div>
</template>

<script lang="ts">
  export default {
    name: 'Result',
    props: {
      result: String
    }
  }
</script>

<style scoped lang="scss">
</style>
