<template>
    <div class="score">
        <h2 class="score__text">{{ getResultMessage }}</h2>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfnNtbumo0uErGGMsxrQMWBnpwhMPJJAWpt1pgIqqz0PwvMvg/viewform?embedded=true"
                width="640" height="900" frameborder="0" marginheight="0" marginwidth="0">
        </iframe>
    </div>
</template>

<script>
    export default {
        name: 'Score',
        props: {
            score: Number
        },
        computed: {
            getResultMessage: function () {
                const score = this.score;
                let message = `あなたの得点率は${score}%です！ `;
                message += score <= 30 ? '今後に期待！' : score <= 50 ? 'あともう少し！' : score <= 70 ? 'なかなかですね！' : score <= 99 ? '十分な知識量です！' : '満点です！素晴らしい！';
                return message;
            }
        }
    }
</script>

<style scoped>

</style>