<template>
    <div id="app">
        <div class="wrap">
            <Score :score="getScore" v-if="isFinished"></Score>
            <div v-if="!isFinished" class="is-testing">
                <Question :question-index="questionIndex + 1"
                          :question-text="questions[questionIndex].questionText"></Question>
                <Result v-if="isAnswered" :result="getResultMessage"></Result>
                <Explanation v-if="isAnswered" :explanation="questions[questionIndex].explanation"></Explanation>
                <section class="button-box">
                    <ul class="buttons-list">
                        <Button v-if="!isAnswered" @clickEvent="answer(1)" button-class="button-item__true">TRUE
                        </Button>
                        <Button v-if="!isAnswered" @clickEvent="answer(0)" button-class="button-item__false">FALSE
                        </Button>
                        <Button v-if="isAnswered" @clickEvent="nextQuestion" button-class="button-item__next">{{
                            getNextButtonMessage }}
                        </Button>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import questions from './assets/questions.json';
    import Result from './components/result.vue';
    import Question from './components/question.vue';
    import Explanation from './components/explanation.vue';
    import Button from './components/button.vue';
    import Score from './components/score.vue';

    export default {
        name: 'App',
        data: () => {
            return {
                isFinished: false,
                isAnswered: false,
                questionIndex: 0,
                oldCorrectCount: 0,
                correctCount: 0,
                result: '',
                questions: questions
            }
        },
        components: {
            Result,
            Question,
            Explanation,
            Button,
            Score
        },
        methods: {
            nextQuestion: function () {
                this.questionIndex === this.questions.length - 1 ? this.isFinished = true : this.questionIndex++;
                this.isAnswered = false;
            },
            answer: function (answerId) {
                const correctAnswer = this.questions[this.questionIndex].correctAnswer;
                this.oldCorrectCount = this.correctCount;
                if (answerId === correctAnswer) this.correctCount++;
                this.isAnswered = true;
            },
        },
        computed: {
            getScore: function () {
                return parseInt(this.correctCount / this.questions.length * 100, 10).toString();
            },
            getResultMessage: function () {
                return this.oldCorrectCount === this.correctCount ? 'Failed...' : 'Great!!';
            },
            getNextButtonMessage: function () {
                return this.questionIndex === this.questions.length - 1 ? 'Go result' : 'Next';
            }
        }
    }
</script>

<style lang="scss">
    #app {
        font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        margin-top: 60px;
        color: #fff;
    }

    body {
        background-color: #333;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .wrap {
        width: 50%;
        margin: 0 auto;
    }

    @media screen and (max-width: 480px) {
        .wrap {
            width: 90%;
        }
    }

    .buttons-list {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
</style>
